@media (min-width: 320px) {
  body {
    background-color: red;
  }
  .resize {
    background-color: black;
    height: 100px;
    width: 100px;
  }

  .random {
    background-color: green;
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 480px) {
  body {
    background-color: blue;
  }
  .resize {
    background-color: red;
    height: 300px;
    width: 300px;
  }
  .random {
    background-color: white;
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 600px) {
  body {
    background-color: royalblue;
  }
  .resize {
    background-color: yellow;
    height: 400px;
    width: 400px;
  }
  .random {
    background-color: white;
    height: 200px;
    width: 100px;
  }
}

@media (min-width: 801px) {
  body {
    background-color: red;
  }
  .resize {
    background-color: green;
    height: 500px;
    width: 500px;
  }
  .random {
    background-color: white;
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 1025px) {
  body {
    background-color: green;
  }

  .resize {
    background-color: black;
    height: 500px;
    width: 500px;
  }
  .random {
    background-color: yellow;
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 1281px) {
  body {
    background-color: green;
  }
  .resize {
    background-color: white;
    height: 500px;
    width: 500px;
  }

  .random {
    background-color: red;
    height: 400px;
    width: 400px;
  }
}
