* {
  padding: 0.5em;
  margin: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-position: center;
  border-color: blue;
  cursor: pointer;
  border-radius: 15px;
}

.form-meme:hover {
  background-color: transparent;
  border: 2px solid #4700f9;
  cursor: pointer;
}

#submit:hover {
  background-color: transparent;
  border: 2px solid #4700f9;
  cursor: pointer;
}
