body {
  color: red;
}

h1 {
  color: #00ff00;
}

p.ex {
  color: rgb(0, 0, 255);
}

h1 {
  border: 5px solid red;
}

h2 {
  border: 4px dotted blue;
}

div {
  border: double;
}

div {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
