body {
  background: #d0cfcf;
  font-size: 25px;
}

p {
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: rgb(173, 173, 255);
}

h2 {
  text-transform: capitalize;
}

section {
  font-size: 2.5em;
}

h1 {
  text-shadow: 6px 6px 3px blue;
}
